/* Regles generales */
*, *:after, *:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-size: 1.4rem; /* 14px par défaut */
  /*font-family: 'Noto sans', sans-serif;*/
}

/* ATTENTION LES LIENS SONT NOIRS DANS CE MODELE */
a, a:hover, a:visited {
  color: black;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; 
}

/*************************/
/* Starter: Presentation */
/*************************/
.presentation {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.presentation h1 {
  font-size: 8rem;
  padding-bottom: 10rem; 
}
